ul{
	list-style-type: none;
	background: url(../imagens/Sprite_g.jpg);a
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 2em;
}
li{
	margin: 5px 0px;
	border-top: 1px solid white;

}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	background: white;
}