body{
	color: #B0E0E6;
}
main{
	background-image: url(../imagens/background-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
main h1{
	font-family: arial, sans-serif;
}
article{
	background-color: #800000;
}
article p{
	color: 	#DEB887;
	text-align: center;
}